.application-resize-actual { background-image: url(../icons/application-resize-actual.png) !important; background-repeat: no-repeat; }
.application-resize { background-image: url(../icons/application-resize.png) !important; background-repeat: no-repeat; }
.binocular { background-image: url(../icons/binocular.png) !important; background-repeat: no-repeat; }
.blue-folder--arrow { background-image: url(../icons/blue-folder--arrow.png) !important; background-repeat: no-repeat; }
.broom { background-image: url(../icons/broom.png) !important; background-repeat: no-repeat; }
.chart { background-image: url(../icons/chart.png) !important; background-repeat: no-repeat; }
.desktop { background-image: url(../icons/desktop.png) !important; background-repeat: no-repeat; }
.disk { background-image: url(../icons/disk.png) !important; background-repeat: no-repeat; }
.document--pencil { background-image: url(../icons/document--pencil.png) !important; background-repeat: no-repeat; }
.document-import { background-image: url(../icons/document-import.png) !important; background-repeat: no-repeat; }
.document-search-result { background-image: url(../icons/document-search-result.png) !important; background-repeat: no-repeat; }
.document-word-text { background-image: url(../icons/document-word-text.png) !important; background-repeat: no-repeat; }
.door-open-out { background-image: url(../icons/door-open-out.png) !important; background-repeat: no-repeat; }
.drop-no { background-image: url(../icons/drop-no.gif) !important; background-repeat: no-repeat; }
.edit-signiture { background-image: url(../icons/edit-signiture.png) !important; background-repeat: no-repeat; }
.edit-small-caps { background-image: url(../icons/edit-small-caps.png) !important; background-repeat: no-repeat; }
.exclamation-red-frame { background-image: url(../icons/exclamation-red-frame.png) !important; background-repeat: no-repeat; }
.folders { background-image: url(../icons/folders.png) !important; background-repeat: no-repeat; }
.gear { background-image: url(../icons/gear.png) !important; background-repeat: no-repeat; }
.inbox-document-text { background-image: url(../icons/inbox-document-text.png) !important; background-repeat: no-repeat; }
.leaf { background-image: url(../icons/leaf.gif) !important; background-repeat: no-repeat; }
.mail-reply { background-image: url(../icons/mail-reply.png) !important; background-repeat: no-repeat; }
.mail-reply-all { background-image: url(../icons/mail-reply-all.png) !important; background-repeat: no-repeat; }
.question-button { background-image: url(../icons/question-button.png) !important; background-repeat: no-repeat; }
.question-frame { background-image: url(../icons/question-frame.png) !important; background-repeat: no-repeat; }
.refresh { background-image: url(../icons/refresh.gif) !important; background-repeat: no-repeat; }
.regcentre { background-image: url(../icons/regcentre.png) !important; background-repeat: no-repeat; }
.user-silhouette { background-image: url(../icons/user-silhouette.png) !important; background-repeat: no-repeat; }
.user--pencil { background-image: url(../icons/user--pencil.png) !important; background-repeat: no-repeat; }
.receipt--pencil { background-image: url(../icons/receipt--pencil.png) !important; background-repeat: no-repeat; }
.mail { background-image: url(../icons/mail.png) !important; background-repeat: no-repeat; }


.taskbuttons-panel-bg { background-image: url(../icons/taskbuttons-panel-bg.gif) !important; background-repeat: repeat-x; }

