*{
    margin: 0;
    padding: 0;
}
html, body {
    background: #000000;
    height: 100%;
    min-width: 1240px;
/*
    min-width: 1240px;
*/
}
#main{
    min-height: 100%; /*ie7 bad*/
    background: #140F0D;
    color: #998778;
    text-shadow: 2px 2px 4px black;
}
#header{
    background: #251D1B;
    padding-bottom: 30px;
}
#main:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.09) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.09)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.09) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
/*http://www.xiper.net/collect/html-and-css-tricks/karkas-verstki/podval-k-nizu.html*/
#footer{
    height: 75px;
    margin-top: -75px;
    line-height: 75px;
    background: #000000;
    text-align: center;
}
#footer span{
    color: #534c46;
}
#footer .right{
    color: #998778;
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    font-family:  Myriad Pro;
    font-weight: normal;
    font-variant: small-caps;
    position: relative;
    background-image: url(image/light.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
ul{
    position: relative;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #46413e; /*  for ie7 not support :after*/
    margin-top: 50px;
}
ul li{
    display: inline-block;
    height: 40px;
    margin: 0 20px;
    zoom: 1;               /*  for ie7 not support inline-block*/
    *display: inline;      /*  for ie7 not support inline-block*/
}
ul:after{
    content: '';
    display: block;
    border-top: 1px solid #000000;
    position: absolute;
    width: 100%;
    bottom: 0;     /*  for black line*/
}
a{
    color: #6b6662;
    text-decoration: none;
}
.active{
    border-bottom: 2px solid #ffffff;
    margin-bottom: -1px;
    position: relative;
    z-index: 10;
}
.active a{
    color: #c6c5c5;
}

/* description */

.description{
    background: #140F0D;
    overflow: hidden;
    padding-bottom: 75px;
    font-family: Myriad Pro;
    padding: 0 20%;
/*
    padding: 0 20%;
*/
    font-size: 0.9em;
}
.description h2{
    text-align: center;
    margin: 20px 0;
}
/*border-box need for FF*/
.box-left, .box-right{
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 100px; /*footer 75+25*/
    padding: 15px 0;
}
.box-left{
    border-right:1px solid #000000;
    margin-right: -1px;
    padding-right: 30px;
}
.box-right{
    border-left:1px solid #251D1B;
    margin-left: -1px;
    padding-left: 30px;
}
.slider, #box{
    height: 300px;
    width: 900px;
    margin: 0 auto;
}
.slider{
    background: #44312E;
    position: relative;
    background: url(image/bg-slider.gif);
}
.slider:before{
    content: url(image/angle-left.png);
    position: absolute;
    left: -17px;
    top: -17px;
}
.slider:after{
    content: url(image/angle-right.png);
    position: absolute;
    right: -17px;
    bottom: -22px;
}
.slider #play{
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -53px;
    margin-top: -53px;
}
.slider img{
    position: absolute;
    top:50%;
    margin-top: -45px;
    left: 102%;
}
.slider p{
    position: absolute;
    bottom: 30%;
    left: 107%;
    width: 100px;
    margin: auto;
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    transform: rotate(320deg);
}

/*shadows*/

#box{
    position: relative;
    z-index: 1;
}
#box:before, #box:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 10px 20px 20px rgba(0,0,0, 0.7);
    -moz-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

#box:after {
    -webkit-box-shadow: -10px 20px 20px rgba(0,0,0, 0.7);
    -moz-box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.7);
    box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    right: 10px;
    left: auto;
}
