.inputs-sprite, #radio-box input[type="radio"] + a, #radio-box input[type="radio"] + a.yes, #check-box input[type="checkbox"] + a, #check-box input[type="checkbox"] + a.yes {
  background: url('../images/inputs-s6b6a3d7762.png') no-repeat;
}

#radio-box input[type="radio"] + a {
  background-position: -74px 0;
}
#radio-box input[type="radio"] + a.yes {
  background-position: -46px -28px;
}

#check-box input[type="checkbox"] + a {
  background-position: -23px -56px;
}
#check-box input[type="checkbox"] + a.yes {
  background-position: 0 -84px;
}

#radio-box a, #check-box a, h3 {
  font-weight: bold;
}

#radio-box label {
  line-height: 40px;
}
