.inputs-sprite, #radio input[type="radio"] + span, #radio input[type="radio"] + span.yes, #check-box input[type="checkbox"] + span, #check-box input[type="checkbox"] + span.yes {
  background: url('../images/inputs-s6b6a3d7762.png') no-repeat;
}

#radio input[type="radio"] + span {
  background-position: -74px 0;
}
#radio input[type="radio"] + span.yes {
  background-position: -46px -28px;
}

#check-box input[type="checkbox"] + span {
  background-position: -23px -56px;
}
#check-box input[type="checkbox"] + span.yes {
  background-position: 0 -84px;
}

#radio span, #check-box span, h3 {
  font-weight: bold;
}

#radio label {
  line-height: 40px;
}
