$inputs-layout:diagonal;
$inputs-spacing: 3px;
@import "images/inputs/*.png";

#radio-box input[type="radio"]{
    & + a{
        @include inputs-sprite(radiobox-unchecked);

        &.yes{
            @include inputs-sprite(radiobox-checked);

        }
    }
}
#check-box input[type="checkbox"]{
    & + a{
        @include inputs-sprite(checkbox-unchecked);

        &.yes{
            @include inputs-sprite(checkbox-checked);

        }
    }
}

#radio-box a, #check-box a, h3{
    font-weight: bold;
}
#radio-box label{
    line-height: 40px;
}
